In [1]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = get ( url )
soup = BeautifulSoup(response.text, 'html.parser')

In [2]:
table = soup.find_all('table')[0]
df = pd.read_html(str(table))[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [3]:
df = df[df.Borough != 'Not assigned']

In [4]:
df.groupby('Postal Code').sum()

                 Borough                                      Neighbourhood
Postal Code
M1B          Scarborough                                     Malvern, Rouge
M1C          Scarborough             Rouge Hill, Port Union, Highland Creek
M1E          Scarborough                  Guildwood, Morningside, West Hill
M1G          Scarborough                                             Woburn
M1H          Scarborough                                          Cedarbrae
...                  ...                                                ...
M9N                 York                                             Weston
M9P            Etobicoke                                          Westmount
M9R            Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V            Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W            Etobicoke                Northwest, West Humber - Clairville

[103 rows x 2 columns]

In [5]:
df[df['Neighbourhood']== 'Not assigned' ]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [6]:
print(f'The number of rows is: )

SyntaxError: EOL while scanning string literal (<ipython-input-6-59ef54437f42>, line 1)